*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
    font-family: "Poppins", sans-serif;
    /* transition: .4s all ease-in-out; */

}
body{
    background-color: #ffffff00;
    /* transition: .4s all ease-in-out; */
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.header{
    width: 100vw;
    height: 100vh;
    background-image: url(../files/Hero-bg.png);
    display: flex;
    flex-direction: column;
}
.nav_wrapper{
    width: 90%;
    max-width: 70rem;
    height: 8rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 2rem; */
    /* background-color: aqua; */
}
.nav_logo{
    font-size: 2.5rem;
    color: #4d47ff;
    font-weight: 800;
}
.nav_btn_signup{
    color: #fff;
    background-color: #4d47ff;
    font-size: 1rem;
    padding: .4rem 1.2rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    transition: .2s all ease-in-out;
    box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.nav_btn_signup:hover,
.nav_btn_signup:focus{
    background-color: #3430b1;
    padding: .4rem 1.2rem;
    border: 1px solid #4d47ff;
}




.hero_wrapper{
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%;
    max-width: 68rem;
    height: auto;
    margin: auto;
}
.hero_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_banner_heading_p{
    font-size: 3.5rem;
    font-weight: 500;
    color: #242331;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-family: var(--sm_font_27);
}
.hero_banner_btn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .89rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    width: max-content;
    align-self: center;
    margin-top: 1.5rem;
    padding: .5rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    transition: .2s all ease-in-out;
    box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.hero_banner_btn:hover,
.hero_banner_btn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}





.main{
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    /* margin: auto; */
}
.live_preview_section_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 65rem;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.live_preview_section_intro_wrapper{
    padding: 1rem;
    width: 50%;
    max-width: 30rem;
}
.live_preview_section_intro_header{
    font-size: 2rem;
    font-weight: 600;
    color: #242331;
}
.live_preview_section_intro_subHeader{
    font-size: 1.5rem;
    font-weight: 300;
    color: #b4b6bf;
}
.live_preview_section_intro_btn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .89rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    width: max-content;
    align-self: center;
    margin-top: 1.5rem;
    padding: .5rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    transition: .2s all ease-in-out;
    box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.live_preview_section_intro_btn:hover,
.live_preview_section_intro_btn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}
.live_preview_section_img_wrapper{
    padding: 1rem;
    width: 50%;
    display: flex;
    justify-content: right;
}
.live_preview_section_img{
    border-radius: 40px;
    width: 22rem;
    height: auto;
}

@media (max-width: 780px) {
    .live_preview_section_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        width: 95%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .live_preview_section_intro_wrapper{
        justify-self: left;
        width: 90%;
        max-width: 30rem;
    }
    .live_preview_section_img_wrapper{
        padding: 1rem;
        width: 80%;
        display: flex;
        justify-content: right;
    }
    .live_preview_section_img{
        border-radius: 40px;
        width: 100%;
        height: auto;
    }
}