*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* cursor: pointer; */
    font-family: "Poppins", sans-serif;
    /* transition: .4s all ease-in-out; */

}
body{
    background-color: #ffffff00;
    /* transition: .4s all ease-in-out; */
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
section{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin: 6rem auto;
}
@media (max-width: 780px) {
    section{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../files/Hero-bg.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.nav_wrapper{
    width: 90%;
    max-width: 70rem;
    height: 8rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* padding-top: 2rem; */
    /* background-color: aqua; */
}
.nav_logo{
    font-size: 2.5rem;
    color: #4d47ff;
    font-weight: 800;
}
.nav_btn_signup{
    color: #fff;
    background-color: #4d47ff;
    font-size: 1rem;
    padding: .4rem 1.2rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
            box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.nav_btn_signup:hover,
.nav_btn_signup:focus{
    background-color: #3430b1;
    padding: .4rem 1.2rem;
    border: 1px solid #4d47ff;
}




.hero_wrapper{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    width: 90%;
    max-width: 68rem;
    height: auto;
    margin: auto;
}
.hero_banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.hero_banner_heading_txt{
    font-size: 3.5rem;
    font-weight: 500;
    color: #242331;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-family: var(--sm_font_27);
}
.hero_banner_btn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .89rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1.5rem;
    padding: .5rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
            box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.hero_banner_btn:hover,
.hero_banner_btn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}
@media (max-width: 780px) {

}












.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-self: center; */
    /* align-items: center; */
    /* margin: auto; */
    justify-items: center;
}
.live_preview_section_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 65rem;
    height: auto;
    /* margin: 6rem auto; */
}
.live_preview_section_intro_wrapper{
    padding: 1rem;
    width: 50%;
    max-width: 30rem;
}
.live_preview_section_intro_header{
    font-size: 2.3rem;
    font-weight: 600;
    color: #242331;
}
.live_preview_section_intro_subHeader{
    font-size: 1.5rem;
    font-weight: 300;
    color: #b4b6bf;
}
.live_preview_section_intro_btn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .89rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1.5rem;
    padding: .5rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
            box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.live_preview_section_intro_btn:hover,
.live_preview_section_intro_btn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}
.live_preview_section_img_wrapper{
    padding: 1rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}
.live_preview_section_img{
    border-radius: 40px;
    width: 22rem;
    height: auto;
}

@media (max-width: 780px) {
    .live_preview_section_wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 95%;
        margin: 10vh auto;
    }
    .live_preview_section_intro_wrapper{
        -ms-grid-column-align: left;
            justify-self: left;
        width: 90%;
        max-width: 30rem;
        margin-bottom: 1rem;
    }
    .live_preview_section_img_wrapper{
        padding: 1rem;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: right;
            -ms-flex-pack: right;
                justify-content: right;
    }
    .live_preview_section_img{
        border-radius: 40px;
        width: 100%;
        height: auto;
    }
}










.successRate_section_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 65rem;
    height: auto;
    /* margin: 6rem auto; */
    background-color: #e3e6ff;
    border-radius: 20px;
    padding: 3rem 0;

}
.successRate_section_header_wrapper{
    margin-bottom: 5rem;
    width: 85%;
    margin: auto;
}
.successRate_section_header_txt{
    font-size: 2.2rem;
    font-weight: 700;
    color: #242331;
    text-align: center;
    /* width: 80%; */
    margin-bottom: 1.7rem;

}
.successRate_section_counter_wrapper{
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; */
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.successRate_section_counter_box p{
    text-align: center;
    /* font-family: var(--sm_font_11); */
}
.successRate_section_counter_box_txt{
    color: #4d47ff;
    font-size: 5rem;
    font-weight: 700;
}
.successRate_section_counter_box_subTxt{
    color: #9294a5;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -1.3rem;

}
@media (max-width: 780px) {
    .successRate_section_counter_wrapper{
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1.5rem;
    }
}









.userReview_section_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 65rem;
    height: auto;
    /* margin: 4rem auto; */
    background-color: #f4f8ff;
    padding: 1rem 0;

}
.userReview_section_header_wrapper{
    margin: auto;
    margin-bottom: 2rem;
    width: 85%;
}
.userReview_section_header_txt{
    font-size: 2.3rem;
    font-weight: 700;
    color: #242331;
    text-align: center;
    /* width: 80%; */
}
.userReview_section_card_wrapper{
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.userReview_section_card_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25rem;
    background-color: #f9fbff;
    border: 1px solid #00000015;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: .5rem;
}
.userReview_section_card_box_star_wrapper{
    margin-bottom: 1.5rem;
}
.userReview_section_card_box_header{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.userReview_section_card_box_Txt{
    font-size: 1rem;
    font-weight: 400;
}
.userReview_section_card_box_userId{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1rem;
}
.userReview_section_card_box_userId_pic_wrapper{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-right: .7rem;
    height: auto;
}
.userReview_section_card_box_userId_pic{
    width: 2.7rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 2px 1px;
}
.userReview_section_card_box_userId_name_Wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin-top: -1px;     */
}
.userReview_section_card_box_userId_name{
    font-size: 1rem;
    font-weight: 500;
    color: #5e5e5e;
}
.userReview_section_card_box_userId_dateSign{
    /* margin-top: -1px; */
    font-size: .8rem;
    color: #a7a7a9;
}
@media (max-width: 780px) {
    .userReview_section_card_wrapper{
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}









.getStarted_section_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 90%;
    max-width: 65rem;
    height: auto;
    /* margin: 4rem auto; */
}
.getStarted_section_intro_wrapper{
    padding: 1rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
}
.getStarted_section_intro_wrapper p{
    text-align: center;
}
.getStarted_section_intro_header{
    font-size: 2.4rem;
    font-weight: 600;
    color: #242331;
    text-align: center;
    margin-bottom: 1.5rem;
}
.getStarted_section_intro_subHeader{
    font-size: .9rem;
    font-weight: 400;
    color: #707070;
    margin-bottom: 0rem;

}
.getStarted_section_intro_btn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .89rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1rem;
    padding: .5rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 4px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
            box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.getStarted_section_intro_btn:hover,
.getStarted_section_intro_btn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}
.getStarted_section_img_wrapper{
    padding: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}
.getStarted_section_img{
    border-radius: 40px;
    width: 22rem;
    width: 100%;
    height: auto;
}
@media (max-width: 780px) {

}








.getInTouch_section_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 65rem;
    height: auto;
    /* margin: 4rem auto; */
}
.getInTouch_section_intro_wrapper{
    padding: 1rem;
    width: 50%;
    max-width: 30rem;
}
.getInTouch_section_intro_header{
    font-size: 3rem;
    font-weight: 600;
    color: #242331;
}
.getInTouch_section_form_wrapper{
    padding: 1rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: right; */
}
.getInTouch_section_form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
.getInTouch_section_form > input,
.getInTouch_section_form > textarea,
.getInTouch_section_form > label,
.getInTouch_section_form > button{
    width: 100%;
}
.getInTouch_section_form > label{
    font-weight: 600;
    margin-bottom: 1px;
}
.getInTouch_section_form > input,
.getInTouch_section_form > textarea{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(156, 156, 156, 0.329);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.getInTouch_section_form > textarea{
    line-height: 3rem;
    overflow: hidden;
    resize: none;
    
}
.getInTouch_section_form > #submitBtn{
    color: #fff;
    background-color: #4d47ff;
    font-size: .9rem;
    font-family: var(--sm_font_26);
    font-weight: 700;
    /* width: max-content; */
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1.5rem;
    padding: .8rem 1.4rem;
    border: 1px solid #4d47ff;
    border-radius: 8px;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
            box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}
.getInTouch_section_form > #submitBtn:hover,
.getInTouch_section_form > #submitBtn:focus{
    background-color: #3430b1;
    border: 1px solid #4d47ff;
}
@media (max-width: 780px) {
    .getInTouch_section_wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 90%;
        max-width: 65rem;
        height: auto;
        margin: 10vh auto;
    }
    .getInTouch_section_intro_wrapper,
    .getInTouch_section_form_wrapper{
        padding: 1rem;
        width: 90%;
        max-width: 30rem;
    }
    .getInTouch_section_intro_header{
        font-size: 3rem;
        font-weight: 600;
        color: #242331;
        margin-bottom: 1rem;
    }
}











.hr_1{
    border-top: 1px solid #00000018;
    margin-top: 5rem;
}
.footerArea_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    max-width: 65rem;
    height: auto;
    margin: 3rem auto;
    margin-top: 0;
}
.footerArea_wrapper a{
    text-decoration: none;
}
.footerArea_header{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.footerArea_header_txt{
    color: #4d47ff;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}
.footerArea_subHeader_txt{
    color: #9492aa;
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}
.footerArea_nav_wrapper{
    width: 90%;
    max-width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
    margin-top: 2rem;
}
.footerArea_subHeader_txt a{
    color: #9492aa;
    text-decoration: underline;
}
.footerArea_nav_wrapper a{
    color: #0c008d62;
    text-decoration: underline;
    font-weight: 600;
    font-size: .9rem
}








